<!DOCTYPE html>
<html>

<head>
    <title>Dashboard</title>
    <style>
        body {
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        h1 {
            color: blue;
            font-size: 40px;
            font-family: Arial;
        }
        .text-deco {
            color: #0857ef;
            font-size: 40px;
            font-family: Arial;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <a href="/" class="text-deco">
        <h1>This is Butler Dashboard</h1>
    </a>

</body>

</html>